/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.so
*.o
*.a
mkmf.log

# Ignore bundler related files
/.bundle/
/bundle/
*.bundle

# Ignore development related binstubs
/bin/
/sbin/

# Ignore sensitive environment files
.radius-toolbelt-local
